<div class="quizz__container">
    <div class="quizz_logo">
        <img src="../../../assets/images/logo.png" alt="" srcset="">
        <h3> {{ title }}</h3> 
    </div>

    <div class="quizz_questions" *ngIf="!gameFinished">
        <h3> {{ questionSelected.question }}</h3>
    </div>

    <div class="quizz_options" *ngIf="!gameFinished">
        <button 
        class="btn-option"
        (click) ="playerChoose(option.alias)"
        *ngFor="let option of questionSelected.options">
            {{ option.name }}
        </button>
    </div>

    <div class="quizz_results" *ngIf="gameFinished">
        <h1>Resultado: </h1>
        <p>{{ answersSelected }}</p>
    </div>
</div>
